[submodule "frameworks/thinkdepthai"]
	path = frameworks/thinkdepthai
	url = https://github.com/QishengLu/rca_study_thinkdepthai.git
	branch = main

[submodule "frameworks/aiq"]
	path = frameworks/aiq
	url = https://github.com/QishengLu/rca_study_aiq.git
	branch = main

[submodule "frameworks/taskweaver"]
	path = frameworks/taskweaver
	url = https://github.com/QishengLu/rca_study_taskweaver.git
	branch = main

[submodule "frameworks/openrca"]
	path = frameworks/openrca
	url = https://github.com/QishengLu/rca_study_openrca.git
	branch = main

[submodule "frameworks/claudecode"]
	path = frameworks/claudecode
	url = https://github.com/QishengLu/rca_study_claudecode.git
	branch = main

[submodule "frameworks/mabc"]
	path = frameworks/mabc
	url = https://github.com/QishengLu/rca_study_mabc.git
	branch = main
